<html>

<head>
    <link type="text/css" rel="stylesheet" href="/static/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
</head>

<body>
    <div class="nav-bar">
        <a class="box-link logo" href="index.html">Thee Code Club</a>
        <div class="links">
            <a class="box-link" href="#">Lessons</a>
            <a class="box-link" href="#">Gallery</a>
            <a class="box-link sign-up" href="#">Sign In</a>
        </div>
    </div>
    <main>
        <br>
        <br>
        <br>
        <br>
        <h1>Welcome to Thee Code Club.</h1>
        <h3>By Alfonso Hernandez</h3>
        <br>
        <form>
        <table>
           <input placeholder="Username" type="text" name="username" ><br>
            <input placeholder="Password" type="password" name="password" >
        </table>
            
        <input type="submit" value="Sign In"><br>
        </form>
    </main>
</body>

</html>
